.places {
    display: grid;
    grid-column: auto;
    row-gap: 80px;
}

@media (max-width: 1279px) {
    .places {
        width: calc(100% - 96px);
    }
}

@media (max-width: 1023px) {
    .places {
        width: calc(100% - 48px);
        row-gap: 73px;
    }
}

@media (max-width: 767px) {
    .places {
        width:100%;
        row-gap: 50px;
    }
}

