.footer__links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 92px;
    margin-bottom: 24px;
}

@media (max-width: 1023px) {
    .footer__links {
        margin-top: 88px;
    }
}

@media (max-width: 767px) {
    .footer__links {
        flex-direction: column;
        margin-top: 64px;
        margin-bottom: 0;
    }
}