.lead__caption {
    margin: 0;
    margin-top: 8px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    max-width: 158px;
}

@media (max-width: 768px) {
    .lead__caption {
        margin-left: 24px;
    }
}

@media (max-width: 320px) {
    .lead__caption {
        margin-left: 16px;
    }
}